iframe {
    width: 100%;
    height: 100vh; /* oder ein anderer Wert, der zu Ihrem Design passt */
    border: none;
    overflow: hidden;
}

@media (max-width: 768px) {
    iframe {
        height: 50vh; /* Höhe für kleinere Bildschirme anpassen */
    }
}
